/* General Styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  line-height: 1.5;
  color: white;
  background-color: transparent;
  overflow-x: hidden;
  height:100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background: #433d3a;
}

::-webkit-scrollbar-thumb {
  background: black;
}

::-webkit-scrollbar-thumb:hover{
  background: #e26120;
}

.root {
  min-height: 100%;
  position: relative;
}

h1 {
  font-size: 100px;
  font-weight: 300;
}

h2,
h3 {
  font-weight: 300;
}

a:link, a:visited{
  text-decoration: none;
  color: white;
}
/*-------------------------------------------------------------------------------------------------*/
/* App.js */
.particles{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: linear-gradient(#e26120, #601f6c, #42114b, #34033d);
}

.footer{
  position: absolute;
  bottom: 0;
  text-align: center;
  font-weight: 400;
  width: 100%;
}
/*-------------------------------------------------------------------------------------------------*/
/* HomePage.js */

.header{
  text-align: center;
  text-transform: uppercase;
  margin-top: 5rem;
  height: 100%;
}

.intro{
  display: flex;
  flex-direction: row;
  text-align: center;
  text-transform: none;
  font-size: 40px;
  position: relative;
  margin-top: 3rem;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 7rem;
}

.social-media-icons{
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 50px;
}
/*-------------------------------------------------------------------------------------------------*/
/* Navigation.js */

/* General sidebar and items*/
.sidebar{
  background-color: #433d3a;
  transition: width 600ms ease;
  position: fixed;
  overflow: hidden;
  z-index: 2;
}

.sidebar-links{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.link{
  width: 100%;
}

.sidebar-item{
  display: flex;
  align-items: center;
  height: 5rem;
  color: white;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: 600ms;
}

.sidebar-item-name{
  display: none;
  margin-left: 1rem;
  font-size: 20px;
  font-weight: 500;
}

.sidebar-item .link-icon{
  font-size: 40px;
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

/*Logo-icon on top of navigation bar */
.menu-icon{
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: white;
  background: #433d3a;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.menu-icon .logo-icon{
  font-size: 40px;
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
  transform: rotate(0deg);
  transition: 600ms;
}

.menu-icon-name{
  display: inline;
  position: absolute;
  font-weight: 500;
  font-size: 40px;
  left: -999px;
  transition: 600ms;
}

/*Sidebar and items under hover */

.sidebar-item:hover{
  filter: grayscale(0%) opacity(1);
  background: #e26120;
  color: white;
}

.sidebar:hover .menu-icon .logo-icon{
  transform: rotate(-180deg);
}



/*-------------------------------------------------------------------------------------------------*/
/* About.js */

.about{
  height:100%;
  width:100%;
}

.about-head{
  position: relative;
  left:15rem;
}

.section1{
  height: 30%;
  width: 100%;
  top: 2rem;
}

.detail1{
  display: flex;
  margin-bottom: 1rem;
  height: auto;
}


.int-button{
  background-color: transparent;
  border: hidden;
  color: white;
  font-size: 20px;
  width: 5rem;
}

.dec{
  position: relative;
  left: 15rem;
}

.inc{
  position: relative;
  left:-1rem;
}

.closed{
  transform: rotate(0deg);
  transition: 600ms;
  background-color: transparent;
  border: hidden;
  color: white;
  font-size: 30px;
  width: 5rem;
}
.active{
  transform: rotate(-180deg);
  transition: 600ms;
  background-color: transparent;
  border: hidden;
  color: white;
  font-size: 30px;
  width: 5rem;
}

/*-------------------------------------------------------------------------------------------------*/
/*Owner.js*/
.owner{
  height:100%;
  width:100%;
  display: flex;
  flex-direction: column;
}

.owner-head{
  position: relative;
  left:15rem;
}

.name-pic{
  display: flex;
  flex-direction: row; 
  height: 30%;
}

.picture{
  width: 30%;
  text-align: right;
}

.details{
  display: block;
  width: 70%;
  margin-top: 5rem;
  margin-left: auto;
  font-size: 40px;  
}

.item{
  margin-left: 5rem;
  margin-bottom: 1rem;
  height: auto;
  width: auto;
  text-align: justify;
}

.item-head{
  width:20%;
  height: auto;
  margin-left: 1rem;
  margin-right: 5rem;
  font-weight: 800;
}

.item-value{
  width: auto;
  height: auto;
  font-weight: 400;
  text-align: justify;
}

.bio{
  width: 70%;
  margin-top: 5rem;
  margin-left: 20rem;
  text-align: justify;
}
.bio-head{
  text-transform: uppercase;
  font-size: 70px;
  font-weight: 500;
}

.bio-content{
  font-size: 25px;
  text-align: justify;
  word-wrap: normal;
}

.pokeball{
  height: 25px;
  width: 25px;
}

.bio-interests{
  font-size: 25px;
  text-align: justify;
  word-wrap: normal;
  padding-bottom: 3rem;
}
/*
.answer{
  text-transform: none;
  text-decoration: none;
}

.bio:hover .answer{
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: underline;
}*/
/*-------------------------------------------------------------------------------------------------*/
/* Window.js */

.cv{
  width: 100%;
  position: relative;
  left: -33rem;
}

.page{
  width: fit-content;
  height: fit-content;
  align-items: center;
  margin-top: 3rem;
  padding-top: 2rem;
}

.doc-buttons{
  width: 100%;
  text-align: center;
  font-size: 20px;
  padding: 2rem;
}

/*-------------------------------------------------------------------------------------------------*/
/* Timeline.js */

.timeline{
  width: 100%;
  height: 100%;
}

.timeline-head{
  position: relative;
  left: 15rem;
}

.timeline-text{
  position: relative;
  left:5rem;
  font-size: 30px;
  text-align: center;
  padding-bottom: 5rem;
}

.vertical-timeline-element--work .vt-content{
  display: none;
}

.vertical-timeline-element--work:hover .vt-content{
  display: inline;
}

.vertical-timeline-element--education .vt-content{
  display: none;
}

.vertical-timeline-element--education:hover .vt-content{
  display: inline;
}

.vertical-timeline-element--project .vt-content{
  display: none;
}

.vertical-timeline-element--project:hover .vt-content{
  display: inline;
}

/*----------------------------------------------------------------------------------------------------------------*/
/*Media queries*/
/*Small screens*/
@media only screen and (max-width: 600px){
  .sidebar{
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .menu-icon{
    display: none;
  }

  .sidebar-links{
    flex-direction: row;
  }

  .link{
    justify-content: center;
  }

}

/*Larger screens*/
@media only screen and (min-width: 600px){
  .sidebar{
    top:0;
    width: 5rem;
    height: 100vh;
  }

  .sidebar:hover{
    width: 16rem;
  }

  .sidebar:hover .sidebar-item-name{
    display: inline;
  }

  .sidebar:hover .menu-icon .logo-icon{
    margin-left: 11rem;
  }

  .sidebar:hover .menu-icon-name{
    left: 0px;
  }
}